<%= form_for @auction, html: {multipart: true, class: "form-horizontal"} do |f| %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :price, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :price %>
    </div>
  
  <div class="form-group">
    <%= f.label :closing_date, "End Date", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.datetime_field :closing_date, :default => Date.today %>
      </div>
  </div>

  </div>
  <div class="form-group col-sm-2 control-label">
    <%= f.submit %>
  </div>

<% end %>