<h1>Active Auctions</h1>
<div class="row">
  <% @auctions.each do |auction| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag(auction.picture(:thumb)) %>
        <div class="caption">
          <h3><%= link_to auction.title, auction %></h3>
          <h5><%= "Current highest bid: #{number_to_currency(auction.highest_bid / 100) if auction.highest_bid}" %></h5>
          <p><%= auction.description %></p>
          <p><%= auction.closing_date %></p>
          <p><%= link_to "bid", new_auction_bid_path(auction), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>