<%= form_for(@open_auction) do |f| %>
  <% if @open_auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_auction.errors.count, "error") %> prohibited this open_auction from being saved:</h2>

      <ul>
      <% @open_auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
