<p id="notice"><%= notice %></p>

<h1>Listing Open Auctions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_auctions.each do |open_auction| %>
      <tr>
        <td><%= open_auction.description %></td>
        <td><%= open_auction.price %></td>
        <td><%= open_auction.end_date %></td>
        <td><%= link_to 'Show', open_auction %></td>
        <td><%= link_to 'Edit', edit_open_auction_path(open_auction) %></td>
        <td><%= link_to 'Destroy', open_auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Open auction', new_open_auction_path %>
