<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @open_auction.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @open_auction.price %>
</p>

<p>
  <strong>End date:</strong>
  <%= @open_auction.end_date %>
</p>

<%= link_to 'Edit', edit_open_auction_path(@open_auction) %> |
<%= link_to 'Back', open_auctions_path %>
