<%= form_for(@auctions_description) do |f| %>
  <% if @auctions_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auctions_description.errors.count, "error") %> prohibited this auctions_description from being saved:</h2>

      <ul>
      <% @auctions_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :currentprice %><br>
    <%= f.text_field :currentprice %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
