<p id="notice"><%= notice %></p>

<h1>Listing Auctions Descriptions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Currentprice</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions_descriptions.each do |auctions_description| %>
      <tr>
        <td><%= auctions_description.description %></td>
        <td><%= auctions_description.currentprice %></td>
        <td><%= auctions_description.end_date %></td>
        <td><%= link_to 'Show', auctions_description %></td>
        <td><%= link_to 'Edit', edit_auctions_description_path(auctions_description) %></td>
        <td><%= link_to 'Destroy', auctions_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auctions description', new_auctions_description_path %>
