<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @auctions_description.description %>
</p>

<p>
  <strong>Currentprice:</strong>
  <%= @auctions_description.currentprice %>
</p>

<p>
  <strong>End date:</strong>
  <%= @auctions_description.end_date %>
</p>

<%= link_to 'Edit', edit_auctions_description_path(@auctions_description) %> |
<%= link_to 'Back', auctions_descriptions_path %>
